player-connection-mode=Listen
player-connection-guid=1699723608
player-connection-debug=1
player-connection-project-name=Jam Session
player-connection-ip=26.40.98.75
player-connection-ip=192.168.1.82
wait-for-native-debugger=0
wait-for-managed-debugger=0
managed-debugger-fixed-port=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=805cdf8a5c9d4d2fb1438fda0fb533de
